.btn {
    font-size: 0.95rem;
    border-radius: 6px;
    padding: 0.875rem 0rem;
    font-weight: bold;
    width: 70vw;
    max-width: 360px;
    cursor: pointer;
}

.btn-principal {
    background-color: #0460D9;
    border: 1px solid transparent;
    color: #FFFFFF;
}

.btn-secundario {
    background-color: #FFFFFF;
    border: 1px solid #0460D9;
    color: #0460D9;
}

.btn-inscrever {
    background-color: #0460D9;
    padding: 0.5rem 0rem;
    width: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    color: #FFFFFF;
    align-self: flex-start;
}

.home-btn {
    width: 150px;
    padding: 0.75rem 0rem;
}

.home-btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #0460D9;
    color: #0460D9;
    transition: 0.2s;
}

#home-login {
    background-color: #FFFFFF;
    border: 1px solid #0460D9;
    color: #0460D9;
}