main {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

.secao-principal {
    max-width: 480px;   /* tudo vai ficar desse tamanho */
    width: 90%;         /* responsivo */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.05);
    gap: 1.2rem;
}

.item-titulo {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
}

.item-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 1rem;
    color: #444;
    width: 60%;          
    align-self: center;  
    text-align: left; 
}

.item-detalhes span strong {
    color: #222;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}